select, input {
    display: block;
}

.dropdown-item .nav-link {
    color: aliceblue;
}

#portfolio, #add-transaction, #portfolio-coin-list {
    margin-bottom: 5rem;
}

#transaction-btn {
    margin-right: 1rem;
}

td {
    padding: 0 15px;
  }