{% extends 'base.html' %}
{% block content %}

<h1>Your Portfolio</h1>
<h2>Your portfolio net worth:</h2>

<p>Total Spent: {{ cost }}</p>

<p>Current Balance: {{ balance }}</p>

<p>Total Profit/Loss: {{ profit_loss }}</p>



<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />

<img src="https://alternative.me/images/fng/crypto-fear-and-greed-index-2020-5-13.png" alt="Crypto Fear & Greed Index on May 13, 2020" />

<button data-modal-target="#modal">Add Transaction</button>
<div class="modal" id="modal">
    <form method='POST'>
        <label for='coin'>Choose a coin:</label>
        <select name='coin' id='coin'>
            <option value='btc'>Bitcoin</option>
            <option value='eth'>Ethereum</option>
            <option value='binance-coin'>Binance Coin</option>
            <option value='dogecoin'>Dogecoin</option>
            <option value='tether'>Tether</option>
            <option value='ada'>Cardano</option>
            <option value='xrp'>XRP</option>
            <option value='internet-computer'>Internet Computer</option>
            <option value='dot'>Polkadot</option>
            <option value='bitcoin-cash'>Bitcoin Cash</option>
        </select>

        <label for='transactionType'>Transation type</label>
        <select name='transactionType' id='transactionType'>
            <option value='buy'>Buy</option>
            <option value='sell'>Sell</option>
        </select>

        <label for='quantity'>Quantity</label>
        <input required type='number' id='quantity' name='quantity' min='0' max='100000000' placeholder='0.00'>

        <label for='price'>Price Per Coin</label>
        <input required type='number' id='cost' name='cost' min='0' max='100000000' placeholder='0.00'>

        <label for='fee'>Fee</label>
        <input required type='number' id='fee' name='fee' placeholder='0.00'>

        <label for='notes'>Notes</label>
        <input type='text' id='notes' name='notes'>

        <label for='date'>Date</label>
        <input type='date' id='date' name='date'>

        <button type='submit' id='submit' name='submit'>Submit</button>

    </form>
</div>
<div id="overlay"></div>


{% endblock %}