{% extends 'base.html' %}
{% block content %}



<form method='POST'>
    <label for='coin'>Choose a coin:</label>

    <input list="coin" name="coin">
    <datalist id='coin'>
        {% for coin in list_of_coins %}
        <option value="{{coin}}">
        {% endfor %}
    </datalist>
    
    <label for='transactionType'>Transation type</label>
    <select name='transactionType' id='transactionType'>
        <option value='buy'>Buy</option>
        <option value='sell'>Sell</option>
    </select>

    <label for='quantity'>Quantity</label>
    <input required type='float' id='quantity' name='quantity' min='0' max='100000000' placeholder='0.00'>

    <label for='price'>Total FIAT Invested</label>
    <input required type='number' id='cost' name='cost' min='0' max='100000000' placeholder='0.00'>

    <button type='submit' id='submit' name='submit'>Submit</button>

</form>


{% endblock %}