{% extends 'base.html' %}
{% block content %}

<h1>Transaction List</h1>

<table>

    <tr>
        <td>Coin</td>
        <td>Cost</td>
        <td>Transaction Type</td>
        <td>Quantity</td>
        <td>Action</td>
    </tr>
    {% for transaction in transactions %}

    <tr>
        <td>{{ transaction['coin'] }}</td>
        <td>{{ transaction['cost'] }}</td>
        <td>{{ transaction['transactionType'] }}</td>
        <td>{{ transaction['quantity'] }}</td>
        <td><button>Update</button><button>Delete</button></td>
    </tr>

    {% endfor %}

</table>

{% endblock %}