{% extends "base.html" %}
{% block content %}

<form method="POST">
    <label for="coin">Choose a coin:</label>
    <select name="coin" id="coin">
        <option value="bitcoin">Bitcoin</option>
        <option value="ethereum">Ethereum</option>
        <option value="binance-coin">Binance Coin</option>
        <option value="dogecoin">Dogecoin</option>
        <option value="tether">Tether</option>
        <option value="cardano">Cardano</option>
        <option value="xrp">XRP</option>
        <option value="internet-computer">Internet Computer</option>
        <option value="polkadot">Polkadot</option>
        <option value="bitcoin-cash">Bitcoin Cash</option>
    </select>

    <label for="transactionType">Transation type</label>
    <select name="transactionType" id="transactionType">
        <option value="buy">Buy</option>
        <option value="sell">Sell</option>
    </select>

    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" min="0" max="100000000" placeholder="0.00">

    <label for="price">Price Per Coin</label>
    <input type="number" id="price" name="price" min="0" max="100000000" placeholder="0.00">

    <label for="fee">Fee</label>
    <input type="number" id="fee" name="fee" placeholder="0.00">

    <label for="notes">Notes</label>
    <input type="text" id="notes" name="notes">

    <label for="date">Date</label>
    <input type="date" id="date" name="date">

    <button type="submit" id="submit" name="submit">Submit</button>

</form>

{% endblock %}